body {
    font-family: 'Scada', sans-serif;
    /* Location of the image */
    background-image: url('./img/rob-potter-408301-unsplash.jpg');
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
        the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
        on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
        while the background image is loading */
    background-color: #464646;
    color: white;
    max-width: 100%;
    overflow-x: hidden;
    margin-bottom: 50px;
    min-height: 100vh;
}

html, body {
    min-height: 100%;
    position: relative;
}

/* .container {
    min-height: 100vh; 
    overflow: hidden; 
    display: block; 
    position: relative;
    padding-bottom: 100px; 
    min-width: 100%;
} */

.navbar-default, .navbar-brand, .nav-item {
    background-color: none;
    border: none;
    color: white;
    box-shadow: none;
}

