.login-box {
    text-align: center;
}

.login-btns {
    background: none;
    font-size: 25px;
    border: white solid 2px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    width: 20%;
    height: 50px;
}

.intro {
    color: white;
    background: none;
    font-size: 20px;
}


