.signup-btn-box {
    text-align: center;
}

.signup-submit, .signup-submit:disabled, .signup-submit:active{
    border: white solid 2px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 22px;
    background: none;
    opacity: 100%;
}

.email, .password, .name {
    color: white;
    font-size: 22px;
    text-align: right;
}