.potential-match, .final-match, .out-match, .in-match {
    color: white;
    background: none;
    text-shadow: none;
    float: left;
    margin: 20px 20px 20px 0;
    font-size: 18px;
}

.match-row {
    border-bottom: 1px white;
}