.wish-submit-box {
    text-align: center;
}

.wish-submit, .wish-submit:disabled, .wish-submit:active{
    border: white solid 2px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 18px;
    background: none;
    opacity: 100%;
}

.request, .business {
    color: white;
    font-size: 16px;
    text-align: left;
}

.current-loc-text {
    color: white;
    font-size: 16px;
    text-align: left;
}

.wish-box {
    /* background: rgba(0, 0, 0, 0.639);
    border: none;
    border-radius: 20px; */
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    /* padding: 20px 10px 20px 10px; */
}