.wish-nav {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 45px;
    color: white !important;
}

.navbar-default {
    background: none;
    /* color: white !important; */
}

.navbar-default .navbar-nav>li>a {
    font-size: 25px;
    color: white !important;
}